!!!
%html{'ng-app': 'toDoApp'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoAngular
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = csrf_meta_tags
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'

  %body{ layout: 'row' }
    %md-sidenav.view-slide-in{ 'ng-if': 'user.signedIn', 'md-is-locked-open': 'true', 'md-whiteframe': '4' }
      %md-toolbar
        .md-toolbar-tools
          %h1.md-flex Angular ToDo
        %a{ 'ng-click': 'signOut()' } Sign out

      %md-subheader
        %span.ng-scope Your projects

      %projects_list

    %ui-view.view-slide-in{ flex: '', layout: 'column' }
