!!!
%html{'ng-app': 'toDoApp'}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title TodoAngular
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic'
    = stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons'
    = csrf_meta_tags
    = javascript_include_tag 'application'
    = stylesheet_link_tag    'application', media: 'all'

  %body{ layout: 'row' }
    %ui-view{ flex: '', layout: 'row' }
